---
import Layout from '../layouts/Layout.astro'
---

<Layout title="JavaScript Connect">
  <main class="flex flex-grow items-center justify-center">
    <div>
      <h1 class="text-5xl sm:text-6xl">
        L’événement des développeurs JavaScript à Toulouse
      </h1>
      <p class="mt-8 text-2xl">Rendez-vous le 17 octobe à la Mêlée.</p>
    </div>
  </main>
</Layout>
